<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<http auto-config='true'>
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-page='/jsp/login' authentication-failure-url="/jsp/login_error" />
        <openid-login 	authentication-failure-handler-ref="openIDAuthenticationFailureHandler"                     
                  		user-service-ref="userOpenIdDetailsService" 
                  		authentication-success-handler-ref="openIDAuthenticationSucessHandler">
			<attribute-exchange>
	            <openid-attribute name="axContactEmail" type="http://axschema.org/contact/email" required="true"/>
	            <openid-attribute name="oiContactEmail" type="http://schema.openid.net/contact/email" required="true"/>
	            <openid-attribute name="axNamePersonFullname" type="http://axschema.org/namePerson" required="true"/>
	            <openid-attribute name="axNamePersonFriendlyName" type="http://axschema.org/namePerson/friendly" required="true"/>
	            <openid-attribute name="axNamePersonFirstName" type="http://axschema.org/namePerson/first" required="true"/>
	            <openid-attribute name="axNamePersonLastName" type="http://axschema.org/namePerson/last" required="true"/>
	        </attribute-exchange>
		</openid-login>
		<logout logout-url="/resources/j_spring_security_logout" invalidate-session="true"/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="demo" password="demo" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

<beans:bean id="userOpenIdDetailsService" name="userOpenIdAuthenticationProvider" class="fi.opendemocracy.web.AuthenticationWithOpenIdUserDetailsGetter">
    <beans:constructor-arg index="0" ref="normalizedOpenIdAttributesBuilder"/>
</beans:bean>
<beans:bean id="openIDAuthenticationFailureHandler" class="fi.opendemocracy.web.OpenIDAuthenticationFailureHandler">
    <beans:constructor-arg index="0" ref="normalizedOpenIdAttributesBuilder"/>
</beans:bean>
<beans:bean id="openIDAuthenticationSucessHandler" class="fi.opendemocracy.web.OpenIDAuthenticationSucessHandler">
</beans:bean>
<beans:bean id="normalizedOpenIdAttributesBuilder" class="fi.opendemocracy.web.NormalizedOpenIdAttributesBuilder">
    <beans:property name="emailAddressAttributeNames">
        <beans:set value-type="java.lang.String">
            <beans:value type="java.lang.String">axContactEmail</beans:value>
            <beans:value type="java.lang.String">oiContactEmail</beans:value>
        </beans:set>
    </beans:property>
    <beans:property name="firstNameAttributeNames">
        <beans:set value-type="java.lang.String">
            <beans:value type="java.lang.String">axNamePersonFirstName</beans:value>
        </beans:set>
    </beans:property>
    <beans:property name="lastNameAttributeNames">
        <beans:set value-type="java.lang.String">
            <beans:value type="java.lang.String">axNamePersonLastName</beans:value>
        </beans:set>
    </beans:property>
    <beans:property name="fullNameAttributeNames">
        <beans:set value-type="java.lang.String">
            <beans:value type="java.lang.String">axNamePersonFullname</beans:value>
            <beans:value type="java.lang.String">axNamePersonFriendlyName</beans:value>
        </beans:set>
    </beans:property>
</beans:bean>
	<global-method-security pre-post-annotations="enabled" />

</beans:beans>