<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    
    <display-name>OpenDemocracy</display-name>
    
    <description>Roo generated OpenDemocracy application</description>

    
    <!-- Vaadin production mode -->
    <context-param>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/applicationContext*.xml
        /WEB-INF/applicationContext-security.xml</param-value>
    </context-param>
    
    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
    	<servlet-name>login</servlet-name>
    	<jsp-file>/jsp/login.jsp</jsp-file>
    </servlet>
    
    <servlet>
    	<servlet-name>login_error</servlet-name>
    	<jsp-file>/jsp/login_error.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>login</servlet-name>
    	<url-pattern>/jsp/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>login_error</servlet-name>
    	<url-pattern>/jsp/login_error</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>OpenDemocracy Vaadin Application Servlet</servlet-name>
        <servlet-class>fi.opendemocracy.web.OpenDemocracyVotingApplicationServlet</servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>fi.opendemocracy.web.OpenDemocracyVotingApplication</param-value>
        </init-param>
    <init-param>
            <param-name>widgetset</param-name>
            <param-value>fi.opendemocracy.web.OpenDemocracyVotingWidgetset</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OpenDemocracy Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>springSecurityFilterChain</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
