@import url(../reindeer/styles.css);

/* Default entity manager and entity view styles */
@import url(entityviews/entitymanagerview.css);
@import url(entityviews/entityviews.css);

/* Toolbar */
.toolbar {
      background: #ccc url(img/gradient.png) repeat-x bottom left;
}


.toolbar .v-button:hover .v-button-wrap,
.toolbar .v-button.v-pressed .v-button-wrap {
    background-color: #222;
	background-image: none !important;
	height: auto !important;
}
.toolbar .v-button:active{
	border: 1px solid #222;
}
.toolbar .v-button-wrap,
.toolbar .v-disabled.v-button .v-button-wrap {
    background-color: transparent;
    background-image: none !important;
    height: auto;
    padding:0;
    margin:0;
}

.toolbar .v-button,
.toolbar .v-button-wrap {
	border-width: 0;
	background: none;
	padding: 0 5px 0 5px;
}

.toolbar .v-button {
    display: block;
    width: auto;
    height: 55px;
    background: none;
    border: none;
    text-align: center;
	cursor: pointer;
}
 
.toolbar .v-button img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
}

.toolbar .v-button span {
      font-size: x-small;
      text-shadow: #222 1px 1px 0;
      color: #bbb;
}

/* Help toggle + panel */
.v-button-toggle-help,
.v-button-toggle-help .v-button:active,
.v-button-toggle-help .v-button:focus,
.v-button-toggle-help .v-button.v-pressed {
	margin: 0 !important;
	padding: 0 !important;
	width: 22px !important;
}

.toggle-help {
	border-left: 1px solid #b0b0b0;
	border-right: 1px solid #b0b0b0;
	background: #c6deff !important;
	cursor: help;
}
.toggle-help:hover{
	background: #addfff !important;
}

.v-button-toggle-help .v-button-wrap{
	background: none !important;
	display: inline;
	width: 20px;
	margin: 0;
	padding: 0;
}
.panel-help,
.panel-help .v-panel-content,
.panel-help .v-verticallayout{
	background: #fffcdd;
	border:0;
	margin: 0;
}

/* Main application background */
.v-app {
	background: white;
}

.option-panel {
	margin-bottom: 10px;
}
